<html>
<head>
<title>Weather Reporting</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<style>
table, th, td {
	border: 1px solid grey;
	border-collapse: collapse;
	padding: 5px;
}

table tr:nth-child(odd) {
	background-color: #f2f2f2;
}

table tr:nth-child(even) {
	background-color: #ffffff;
}
</style>

</head>
<body>

	<h2>Weather Reporting</h2>
	<div ng-app="weatherreporting"
		ng-controller="weathermap">

		<form name="weatherForm" novalidate>
			<table border="0">
				<tr>
					<td>Minimum Temp :</td>
					<td><input name="minTemp" type="text" readonly="readonly"
						ng-model="weather.minTemp"></td>
					<td>°C at</td>
					<td><input name="minTempTime" type="text" readonly="readonly"
						ng-model="weather.minTempTime"></td>

				</tr>
				<tr>
					<td>Maximum Temp :</td>
					<td><input name="maxTemp" type="text" readonly="readonly"
						ng-model="weather.maxTemp"></td>
					<td>°C at</td>
					<td><input name="maxTempTime" type="text" readonly="readonly"
						ng-model="weather.maxTempTime"></td>
				</tr>
			</table>
		</form>
	</div>
	<script>
		var mainApp = angular.module("weatherreporting", []);

		mainApp.controller('weathermap', function($scope,
				$http) {
			$http.get(
					'http://localhost:8080/WeatherReporting/minmaxtemperature')
					.then(function(response) {
						$scope.weather = response.data;
					});
		});
	</script>

</body>
</html>